@charset "UTF-8";
/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(45deg,rgb(39, 115, 150),rgb(3, 36, 80));}
h1{
 color: rgb(200, 210, 205);
}
h1#principal{
    text-align: center;
    background-color: rgb(3, 29, 77);
}
h2{
    color: rgb(195, 195, 176);
}
p{
    color: rgb(254, 254, 254);
    text-align: justify;
}
.Basico{
    color: rgb(53, 182, 53);
    background-color: rgba(138, 176, 100, 0.346);
    padding: 10px;
    width: 160px;
    border-radius: 100px;
}
.Intermediario{
    color: rgb(220, 158, 3);
    background-color: rgba(205, 109, 18, 0.611);
    padding: 10px;
    width: 230px;
    border-radius: 100px;
}
.Avançado{
    color: crimson;
    background-color: rgba(139, 0, 0, 0.543);
    padding: 10px;
    width: 190px;
    border-radius: 100px;
}