@charset "UTF-8";

#container{
   background-image: url(imagens/target001.png);
   background-size: 100% 100%;
   position: relative;
   height: 96vh;
   padding: 10px;
   background-color:purple ;
}
#conteudo{
   background-image: url(imagens/target001.png);
   background-size: 100% 100%;
   position: absolute;
   height: 200px;
   width: 400px;
   background-color: yellow;

   left: 50%;
   top: 50%;

   transform: translate(-50%,-50%);
   

}
/*  transform translate= posiciona o conteúdo  usando o position"absolute"*/

