@charset "UTF-8";

body{
    height: 98vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px black;
    background-attachment: fixed;
}
main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}
