@charset "UTF-8";

body{
    height: 98vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}
/*Shorthand - background 
color > image > position > repeat > [size] > attachment*/
/*exemplo*/
/*background: black url('imagens/wallpaper002.jpg') center center no-repeat cover fixed;*/
/* o "size" ainda não funciona nos navegadores!*/