@charset "UTF-8";

@font-face {
    font-family: Cordel Encarnado;
    src: url(../fontes/Cordel\ Encarnado.otf) format('opentype');
}

@font-face {
    font-family: Cordel Encarnado II;
    src: url(../fontes/Cordel\ Encarnado\ II.otf) format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font1: Cordel Encarnado;
    --font2: Cordel Encarnado II;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

body {
    font-family: var(--font2)
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font1);
    font-size: 10%vh;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font1);
    font-size: 3.5%vh;
}
section > p{
    padding-bottom: 2em;
}
section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(30, 30, 30);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;

}
section#img02{
    background-image:url(../imagens/background002.jpg) ;
    background-position: left bottom;
    background-size: cover;
}

footer { 
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: var(--font1);
    font-size: 2%vh;
}